* {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    margin: 0%;
}

body {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo {
    height: 100%;
}

.logo img {
    height: 100%;
    width: auto;
}

.navbar-center{
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.startcamp{
    color: white !important;
    background-color: rgb(255, 162, 0);
    border-radius: 15px;
    padding: 10px;
}

.login{
    margin-right: 10px;
}

.navbar-bottom {
    font-size: 12px;
    color: rgb(150, 149, 149);
    line-height: 1.9;
    margin-top: 40px;
    background-color: rgb(21, 34, 52);
    padding: 20px;
    display: flex; 
    gap:10%;
    justify-content: center;
    align-items: center;
}

.navbar-container-content{
    width: 700px;  
}

.navbar-bottom-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navbar-bottom-container a{
    text-decoration: none;
    color: rgb(150, 149, 149);
}
